In [40]:
import pandas as pd
import glob

file_name = glob.glob('../article/headline_noun_keyword*')

keyword_df = []
for file in file_name:
    df = pd.read_pickle(file)
    keyword_df.append(df)

keyword_all = pd.concat(keyword_df, ignore_index = True)
keyword = keyword_all[keyword_all['week'] <= 807]
keyword

,date,co,headline,week,pos
0,2006.01.01. 오후 11:23,매일경제,취득세ㆍ등록세 0.5%P씩 인하,0,"[취득세, 인하]"
1,2006.01.01. 오후 11:23,매일경제,양도세 부담 덜자 하반기 매물 늘듯,0,"[양도세, 부담, 하반기, 매물]"
2,2006.01.01. 오후 11:23,매일경제,서울 대치동 57평형 보유세 651만원,0,"[서울, 대치동, 평, 보유, 세, 만, 원]"
3,2006.01.01. 오후 11:23,매일경제,양도세 줄이는 방법 필요경비 증빙서류 꼭 챙기자,0,"[양도세, 방법, 필요, 경비, 증빙, 서류]"
4,2006.01.01. 오후 11:23,매일경제,올해 실거래가 신고제 폭풍 이중계약서 관행 사라진다,0,"[올해, 실, 거래, 신고, 폭풍, 이중, 계약서, 관행]"
...,...,...,...,...,...
1065646,2021.06.26. 오전 5:00,뉴시스,비상 걸린 전세⑥전문가들 꼬일 대로 꼬였다…규제라도 풀어야,807,"[비상, 전세, 전문가, 대로, 규제]"
1065647,2021.06.26. 오전 3:04,세계일보,‘래미안 원베일리’ 청약에 만점 통장 등장… 올해 두 번째,807,"[래미안, 원, 베일리, 청약, 만점, 통장, 등장, 올해, 번]"
1065648,2021.06.26. 오전 3:01,동아일보,‘10억 로또 청약’ 원베일리… 7인 가족 만점통장 나왔다,807,"[억, 로또, 청약, 원, 베일리, 인, 가족, 만점, 통장]"
1065649,2021.06.26. 오전 3:01,동아일보,故 이건희 회장 이태원 주택 210억에 매물로,807,"[이건희, 회장, 이태원, 주택, 억, 매물]"
1065650,2021.06.26. 오전 12:01,이데일리,전세시장 ‘빨간불’…서울 0.32% 상승,807,"[전세, 시장, 빨간불, 서울, 상승]"

주간 TF-IDF값 구하기

In [42]:
import pos_to_dict

weekly_df_all = pos_to_dict.weekly_pos_to_dict(keyword)
weekly_df_all

,0,1,2,3,4,5,6,7,8,9,...,798,799,800,801,802,803,804,805,806,807
취득세,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,1.0,5.0,0.0,0.0,3.0,2.0,2.0,0.0,11.0,1.0
인하,1.0,3.0,1.0,1.0,4.0,2.0,1.0,4.0,3.0,3.0,...,3.0,7.0,1.0,2.0,4.0,6.0,4.0,0.0,1.0,0.0
양도세,11.0,4.0,5.0,10.0,3.0,2.0,2.0,0.0,6.0,2.0,...,8.0,5.0,7.0,18.0,16.0,20.0,89.0,9.0,18.0,8.0
부담,2.0,1.0,3.0,1.0,7.0,1.0,0.0,2.0,3.0,1.0,...,10.0,16.0,24.0,8.0,4.0,12.0,10.0,5.0,8.0,5.0
하반기,2.0,0.0,1.0,1.0,1.0,1.0,9.0,6.0,0.0,0.0,...,1.0,10.0,6.0,5.0,2.0,9.0,9.0,7.0,30.0,52.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
수파,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
열독,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
팔곡,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
서선,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
길드,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [43]:
import math

idf_list = []
for i in weekly_df_all.index:
    idf = 0
    for j in weekly_df_all.loc[i,:]:
        if j != 0:
            idf += 1
    idf_list.append(math.log(week/idf))

In [44]:
tf = pd.DataFrame()

max_list = []
for i in weekly_df_all.columns[:-1]:
    _max = max(list(weekly_df_all.loc[:,i]))
    tf[i] = weekly_df_all.loc[:,i]*0.5/_max + 0.5

In [53]:
ft_idf = pd.DataFrame()

idx = 0
for i in weekly_df_all.index:
    ft_idf_list = weekly_df_all.loc[i,:]*idf_list[idx]
    ft_idf[i] = ft_idf_list
    idx += 1
    if idx%1000 == 0:
        print(f">>> get {idx} words TF-IDF finished")

>>> get 1000 words TF-IDF finished
>>> get 2000 words TF-IDF finished
>>> get 3000 words TF-IDF finished
>>> get 4000 words TF-IDF finished
>>> get 5000 words TF-IDF finished
>>> get 6000 words TF-IDF finished
>>> get 7000 words TF-IDF finished
>>> get 8000 words TF-IDF finished
>>> get 9000 words TF-IDF finished
>>> get 10000 words TF-IDF finished
>>> get 11000 words TF-IDF finished
>>> get 12000 words TF-IDF finished
>>> get 13000 words TF-IDF finished
>>> get 14000 words TF-IDF finished
>>> get 15000 words TF-IDF finished
>>> get 16000 words TF-IDF finished
>>> get 17000 words TF-IDF finished
>>> get 18000 words TF-IDF finished
>>> get 19000 words TF-IDF finished
>>> get 20000 words TF-IDF finished
>>> get 21000 words TF-IDF finished
>>> get 22000 words TF-IDF finished
>>> get 23000 words TF-IDF finished
>>> get 24000 words TF-IDF finished
>>> get 25000 words TF-IDF finished
>>> get 26000 words TF-IDF finished
>>> get 27000 words TF-IDF finished
>>> get 28000 words TF-IDF finished
>>> get 29000 words TF-IDF finished
>>> get 30000 words TF-IDF finished
>>> get 31000 words TF-IDF finished
>>> get 32000 words TF-IDF finished
>>> get 33000 words TF-IDF finished
>>> get 34000 words TF-IDF finished
>>> get 35000 words TF-IDF finished
>>> get 36000 words TF-IDF finished
>>> get 37000 words TF-IDF finished
>>> get 38000 words TF-IDF finished
>>> get 39000 words TF-IDF finished
>>> get 40000 words TF-IDF finished
>>> get 41000 words TF-IDF finished
>>> get 42000 words TF-IDF finished
>>> get 43000 words TF-IDF finished
>>> get 44000 words TF-IDF finished
>>> get 45000 words TF-IDF finished
>>> get 46000 words TF-IDF finished
>>> get 47000 words TF-IDF finished
>>> get 48000 words TF-IDF finished

In [ ]:
ft_idf.to_pickle("../article/ft_idf.pkl")

월간 TF-IDF값 구하기

In [44]:
file_name = glob.glob('../article/headline_noun_keyword*')

keyword_df = []
for file in file_name:
    df = pd.read_pickle(file)
    keyword_df.append(df)

keyword_all = pd.concat(keyword_df, ignore_index = True)
keyword = keyword_all[keyword_all['week'] <= 807]
keyword

,date,co,headline,week,pos
0,2006.01.01. 오후 11:23,매일경제,취득세ㆍ등록세 0.5%P씩 인하,0,"[취득세, 인하]"
1,2006.01.01. 오후 11:23,매일경제,양도세 부담 덜자 하반기 매물 늘듯,0,"[양도세, 부담, 하반기, 매물]"
2,2006.01.01. 오후 11:23,매일경제,서울 대치동 57평형 보유세 651만원,0,"[서울, 대치동, 평, 보유, 세, 만, 원]"
3,2006.01.01. 오후 11:23,매일경제,양도세 줄이는 방법 필요경비 증빙서류 꼭 챙기자,0,"[양도세, 방법, 필요, 경비, 증빙, 서류]"
4,2006.01.01. 오후 11:23,매일경제,올해 실거래가 신고제 폭풍 이중계약서 관행 사라진다,0,"[올해, 실, 거래, 신고, 폭풍, 이중, 계약서, 관행]"
...,...,...,...,...,...
1065646,2021.06.26. 오전 5:00,뉴시스,비상 걸린 전세⑥전문가들 꼬일 대로 꼬였다…규제라도 풀어야,807,"[비상, 전세, 전문가, 대로, 규제]"
1065647,2021.06.26. 오전 3:04,세계일보,‘래미안 원베일리’ 청약에 만점 통장 등장… 올해 두 번째,807,"[래미안, 원, 베일리, 청약, 만점, 통장, 등장, 올해, 번]"
1065648,2021.06.26. 오전 3:01,동아일보,‘10억 로또 청약’ 원베일리… 7인 가족 만점통장 나왔다,807,"[억, 로또, 청약, 원, 베일리, 인, 가족, 만점, 통장]"
1065649,2021.06.26. 오전 3:01,동아일보,故 이건희 회장 이태원 주택 210억에 매물로,807,"[이건희, 회장, 이태원, 주택, 억, 매물]"
1065650,2021.06.26. 오전 12:01,이데일리,전세시장 ‘빨간불’…서울 0.32% 상승,807,"[전세, 시장, 빨간불, 서울, 상승]"

In [48]:
df = keyword

week_col = df['week']

month_col = []
for w in week_col:
    month_col.append(w//4)
df['month'] = month_col
keyword_month = df
monthly_pos = keyword_month.groupby('month')['pos'].sum()

monthly_word_dict = {}

for m in range(len(monthly_pos)):
    word_dict = {}
    for word in monthly_pos[m]:
        if word not in word_dict:
            word_dict[word] = 1
        else:
            word_dict[word] += 1
    monthly_word_dict[m] = word_dict
monthly_word_df = pd.DataFrame(monthly_word_dict)
monthly_word_df = monthly_word_df.fillna(0)
monthly_word_df

<ipython-input-48-8a7bf2043928>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['month'] = month_col

,0,1,2,3,4,5,6,7,8,9,...,192,193,194,195,196,197,198,199,200,201
취득세,1.0,1.0,1.0,0.0,0.0,2.0,3.0,4.0,1.0,0.0,...,18.0,10.0,10.0,8.0,6.0,16.0,1.0,7.0,5.0,14.0
인하,6.0,11.0,8.0,26.0,11.0,43.0,54.0,69.0,29.0,7.0,...,25.0,69.0,4.0,22.0,10.0,11.0,3.0,17.0,13.0,5.0
양도세,30.0,7.0,14.0,20.0,10.0,15.0,43.0,2.0,13.0,18.0,...,7.0,11.0,10.0,27.0,117.0,10.0,30.0,19.0,61.0,124.0
부담,7.0,10.0,9.0,10.0,9.0,8.0,22.0,10.0,7.0,7.0,...,21.0,64.0,52.0,26.0,16.0,29.0,66.0,37.0,48.0,28.0
하반기,4.0,17.0,3.0,20.0,12.0,71.0,108.0,25.0,10.0,10.0,...,23.0,22.0,6.0,6.0,7.0,4.0,7.0,14.0,22.0,98.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
수파,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
열독,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
팔곡,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
서선,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
길드,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

,0,1,2,3,4,5,6,7,8,9,...,192,193,194,195,196,197,198,199,200,201
취득세,1.0,1.0,1.0,0.0,0.0,2.0,3.0,4.0,1.0,0.0,...,18.0,10.0,10.0,8.0,6.0,16.0,1.0,7.0,5.0,14.0
인하,6.0,11.0,8.0,26.0,11.0,43.0,54.0,69.0,29.0,7.0,...,25.0,69.0,4.0,22.0,10.0,11.0,3.0,17.0,13.0,5.0
양도세,30.0,7.0,14.0,20.0,10.0,15.0,43.0,2.0,13.0,18.0,...,7.0,11.0,10.0,27.0,117.0,10.0,30.0,19.0,61.0,124.0
부담,7.0,10.0,9.0,10.0,9.0,8.0,22.0,10.0,7.0,7.0,...,21.0,64.0,52.0,26.0,16.0,29.0,66.0,37.0,48.0,28.0
하반기,4.0,17.0,3.0,20.0,12.0,71.0,108.0,25.0,10.0,10.0,...,23.0,22.0,6.0,6.0,7.0,4.0,7.0,14.0,22.0,98.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
수파,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
열독,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
팔곡,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
서선,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
길드,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [ ]:
idf_list = []
for i in weekly_df_all.index:
    idf = 0
    for j in weekly_df_all.loc[i,:]:
        if j != 0:
            idf += 1
    idf_list.append(math.log(week/idf))