In [1]:
import pandas as pd
import glob

file_name = glob.glob('../article/headline_noun_keyword*')

keyword_df = []
for file in file_name:
    df = pd.read_pickle(file)
    keyword_df.append(df)

keyword_all = pd.concat(keyword_df, ignore_index = True)
keyword = keyword_all[keyword_all['week'] <= 807]
keyword

,date,co,headline,week,pos
0,2006.01.01. 오후 11:23,매일경제,취득세ㆍ등록세 0.5%P씩 인하,0,"[취득세, 인하]"
1,2006.01.01. 오후 11:23,매일경제,양도세 부담 덜자 하반기 매물 늘듯,0,"[양도세, 부담, 하반기, 매물]"
2,2006.01.01. 오후 11:23,매일경제,서울 대치동 57평형 보유세 651만원,0,"[서울, 대치동, 평, 보유, 세, 만, 원]"
3,2006.01.01. 오후 11:23,매일경제,양도세 줄이는 방법 필요경비 증빙서류 꼭 챙기자,0,"[양도세, 방법, 필요, 경비, 증빙, 서류]"
4,2006.01.01. 오후 11:23,매일경제,올해 실거래가 신고제 폭풍 이중계약서 관행 사라진다,0,"[올해, 실, 거래, 신고, 폭풍, 이중, 계약서, 관행]"
...,...,...,...,...,...
1065646,2021.06.26. 오전 5:00,뉴시스,비상 걸린 전세⑥전문가들 꼬일 대로 꼬였다…규제라도 풀어야,807,"[비상, 전세, 전문가, 대로, 규제]"
1065647,2021.06.26. 오전 3:04,세계일보,‘래미안 원베일리’ 청약에 만점 통장 등장… 올해 두 번째,807,"[래미안, 원, 베일리, 청약, 만점, 통장, 등장, 올해, 번]"
1065648,2021.06.26. 오전 3:01,동아일보,‘10억 로또 청약’ 원베일리… 7인 가족 만점통장 나왔다,807,"[억, 로또, 청약, 원, 베일리, 인, 가족, 만점, 통장]"
1065649,2021.06.26. 오전 3:01,동아일보,故 이건희 회장 이태원 주택 210억에 매물로,807,"[이건희, 회장, 이태원, 주택, 억, 매물]"
1065650,2021.06.26. 오전 12:01,이데일리,전세시장 ‘빨간불’…서울 0.32% 상승,807,"[전세, 시장, 빨간불, 서울, 상승]"

In [2]:
gu_name = ['강남구','강동구','강서구','강북구','관악구','광진구','구로구','금천구',
          '노원구','동대문구','도봉구','동작구','마포구','서대문구','성동구','성북구',
          '서초구','송파구','영등포구','용산구','양천구','은평구','종로구','중구','중랑구']

many = len(gu_name)

In [53]:
gu_data = []

for gu in gu_name:
    df = pd.read_pickle(f'../seoul_apt_trade_data/{gu}_trade.pkl')
    '''
    df = df[df['거래주'] <= 807]
    df = df.groupby(['거래주']).mean(['면적당가격'])
    for i in range(1,808):
        try:
            if df['면적당가격'][i]:
                continue
        except:
            df.loc[i] = df.loc[i-1]
    '''
    gu_data.append(df)

In [54]:
gu_data[0]

,지역코드,법정동,거래일,아파트,지번,전용면적,층,건축년도,거래금액,면적당가격,거래주,count
0,11680,개포동,2006-01-02,시영,656,51.1800,3,1984,65000,1270.027354,0,1
1,11680,개포동,2006-01-02,개포현대200동,655-1,82.2000,8,1986,58000,705.596107,0,1
2,11680,개포동,2006-01-02,개포주공 4단지,189,35.6400,4,1982,39200,1099.887767,0,1
3,11680,개포동,2006-01-03,개포주공 3단지,138,41.9900,1,1982,62000,1476.542034,0,1
4,11680,개포동,2006-01-03,개포주공 7단지,185,53.4600,13,1983,49200,920.314254,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
74609,11680,청담동,2021-06-10,라테라스 청담,76-12,37.5700,9,2018,80000,2129.358531,805,1
74610,11680,청담동,2021-06-16,청담린든그로브,67-1,232.9557,3,2017,437000,1875.893142,806,1
74611,11680,청담동,2021-06-16,라테라스 청담,76-12,39.9100,4,2018,76000,1904.284640,806,1
74612,11680,청담동,2021-06-17,청담스위트,34-13,14.2240,2,2015,21000,1476.377953,806,1
74613,11680,청담동,2021-06-25,청담동마크노빌,89-12,270.2500,2,2008,390000,1443.108233,807,1

In [23]:
weekly_trade_count = {}
for i in range(many):
    weekly_trade_count[gu_name[i]] = gu_data[i].groupby(['거래주'])['count'].sum()

In [44]:
import matplotlib.pyplot as plt

total_trade = {}
for gu in gu_name:
    total_trade[gu] = weekly_trade_count[gu].sum()

In [40]:
total_sr = pd.Series(total_trade, name = 'total')

In [96]:
from datetime import date
start_date = date(2006,1,1)
mh = date(2008,2,24)
mb = date(2013,2,24)
gh = date(2016,12,9)
ga = date(2017,5,10) #황교안 대행
ji = date(2022,5,9)
mhw = (mh - start_date).days//7
mbw = (mb - start_date).days//7
ghw = (gh - start_date).days//7
gaw = (ga - start_date).days//7
jiw = (ji - start_date).days//7

time_range = []
time_range.append((0,mhw))
print(mhw)
time_range.append((mhw,mbw))
print(mbw-mhw)
time_range.append((mbw,ghw))
print(ghw-mbw)
time_range.append((ghw,gaw))
print(gaw-ghw)
time_range.append((gaw,808))
print(808-gaw)
gov = ['mh','mb','gh','ga','ji']

112
261
197
22
216

In [97]:
gov_trade = {}

i = 0
for x, y in time_range:
    count_sum = []
    for gu in range(many):
        df = gu_data[gu][(gu_data[gu]['거래주'] >= x) & (gu_data[gu]['거래주'] < y)]
        count = df.groupby(['거래주'])['count'].sum()
        count_sum.append(count.sum())
    gov_trade[gov[i]] = count_sum
    i += 1

In [98]:
trade_count_df = pd.DataFrame(gov_trade, index = gu_name)
trade_count_df

         mh     mb     gh    ga     ji
강남구   10605  19657  23656  2097  18594
강동구    9989  17869  19510  2077  17532
강서구   11115  14653  23666  1732  20577
강북구    4094   4341   7166   507   7437
관악구    6692   8446  11817  1174  10873
광진구    3643   5742   7376   710   6591
구로구   10423  12730  19307  1676  18011
금천구    3911   4160   6327   590   6270
노원구   27945  26031  37053  3253  34338
동대문구   6508   8402  12866  1269  12628
도봉구   12027  12690  16375  1390  15388
동작구    5473   8808  15266  1284  11949
마포구    6145   9116  13650  1393  12250
서대문구   5515   6644  10536   860  11076
성동구    5882   8107  13706  1333  13132
성북구    7946  12652  19569  1358  17994
서초구    7560  15165  17877  1666  14526
송파구   10058  19710  24652  2564  21917
영등포구   7764  11596  16143  1434  14002
용산구    3504   4159   6877   775   6981
양천구    9201  14590  18098  1363  15943
은평구    4378   9184  12371   989  11892
종로구    1252   2156   2797   299   2883
중구     1675   2637   4541   352   4531
중랑구    7185   8033  12224  1095  11106

In [99]:
trade_count_df['gu_total'] = total_sr
trade_count_df

         mh     mb     gh    ga     ji  gu_total
강남구   10605  19657  23656  2097  18594     74614
강동구    9989  17869  19510  2077  17532     66989
강서구   11115  14653  23666  1732  20577     71757
강북구    4094   4341   7166   507   7437     23548
관악구    6692   8446  11817  1174  10873     39008
광진구    3643   5742   7376   710   6591     24069
구로구   10423  12730  19307  1676  18011     62161
금천구    3911   4160   6327   590   6270     21260
노원구   27945  26031  37053  3253  34338    128634
동대문구   6508   8402  12866  1269  12628     41677
도봉구   12027  12690  16375  1390  15388     57877
동작구    5473   8808  15266  1284  11949     42782
마포구    6145   9116  13650  1393  12250     42559
서대문구   5515   6644  10536   860  11076     34632
성동구    5882   8107  13706  1333  13132     42166
성북구    7946  12652  19569  1358  17994     59528
서초구    7560  15165  17877  1666  14526     56796
송파구   10058  19710  24652  2564  21917     78910
영등포구   7764  11596  16143  1434  14002     50945
용산구    3504   4159   6877   775   6981     22300
양천구    9201  14590  18098  1363  15943     59197
은평구    4378   9184  12371   989  11892     38822
종로구    1252   2156   2797   299   2883      9388
중구     1675   2637   4541   352   4531     13738
중랑구    7185   8033  12224  1095  11106     39648

In [100]:
gov_total = []
for i in trade_count_df.columns:
    gov_total.append(trade_count_df[i].sum())
gov_total

[190490, 267278, 373426, 33240, 338421, 1203005]

In [107]:
trade_count_df.loc['gov_total',:] = gov_total
trade_count_df = trade_count_df.astype(int)
trade_count_df

               mh      mb      gh     ga      ji  gu_total
강남구         10605   19657   23656   2097   18594     74614
강동구          9989   17869   19510   2077   17532     66989
강서구         11115   14653   23666   1732   20577     71757
강북구          4094    4341    7166    507    7437     23548
관악구          6692    8446   11817   1174   10873     39008
광진구          3643    5742    7376    710    6591     24069
구로구         10423   12730   19307   1676   18011     62161
금천구          3911    4160    6327    590    6270     21260
노원구         27945   26031   37053   3253   34338    128634
동대문구         6508    8402   12866   1269   12628     41677
도봉구         12027   12690   16375   1390   15388     57877
동작구          5473    8808   15266   1284   11949     42782
마포구          6145    9116   13650   1393   12250     42559
서대문구         5515    6644   10536    860   11076     34632
성동구          5882    8107   13706   1333   13132     42166
성북구          7946   12652   19569   1358   17994     59528
서초구          7560   15165   17877   1666   14526     56796
송파구         10058   19710   24652   2564   21917     78910
영등포구         7764   11596   16143   1434   14002     50945
용산구          3504    4159    6877    775    6981     22300
양천구          9201   14590   18098   1363   15943     59197
은평구          4378    9184   12371    989   11892     38822
종로구          1252    2156    2797    299    2883      9388
중구           1675    2637    4541    352    4531     13738
중랑구          7185    8033   12224   1095   11106     39648
gov_total  190490  267278  373426  33240  338421   1203005