In [6]:
from korea_news_crawler.articlecrawler import ArticleCrawler

Crawler = ArticleCrawler()  
Crawler.categories['부동산'] = 260

Crawler.set_category("부동산")  


for month in range(1,7):
    Crawler.set_date_range(2021, month, 2021, month)
    Crawler.start()
    print(month)

{'start_year': 2021, 'start_month': 1, 'end_year': 2021, 'end_month': 1}
1
{'start_year': 2021, 'start_month': 2, 'end_year': 2021, 'end_month': 2}
2
{'start_year': 2021, 'start_month': 3, 'end_year': 2021, 'end_month': 3}
3
{'start_year': 2021, 'start_month': 4, 'end_year': 2021, 'end_month': 4}
4
{'start_year': 2021, 'start_month': 5, 'end_year': 2021, 'end_month': 5}
5
{'start_year': 2021, 'start_month': 6, 'end_year': 2021, 'end_month': 6}
6

In [7]:
import pandas as pd
import pickle
import glob
import datetime

read_file = glob.glob('../output/*')
column_name = ['date','cat','co','headline','text','url']

total_df = pd.DataFrame({
    'date' : [],
    'cat' : [],
    'co' : [],
    'headline' : [],
    'text' : [],
    'url' : [],
})

start_date = datetime.date(2006,1,1)

article_df = []
for file in read_file:
    df = pd.read_csv(file, names = column_name, encoding = 'cp949')
    article_df.append(df)

total_df = pd.concat(article_df, ignore_index=True)
        
total_df['week'] = [(datetime.date((int)(date[:4]),(int)(date[5:7]),(int)(date[8:10]))-start_date).days//7 for date in total_df['date']]

In [8]:
del total_df['text']
del total_df['url']
del total_df['cat']

In [9]:
total_df

                       date    co                         headline  week
0       2021.01.01. 오후 9:50  한국경제        부동산 또 언급한 유시민 불로소득 더 과세해야   782
1       2021.01.01. 오후 7:04  이데일리           너도나도 새해 집값 오른다…장담하는 이유   782
2       2021.01.01. 오후 6:16  매일경제             우병탁 세무사 시험 준비하듯 공부했죠   782
3       2021.01.01. 오후 5:24  세계일보  집값 상승 전망 역대 최고수준…금융기관도 집값 상승 전망   782
4       2021.01.01. 오후 5:08  한국경제          입주 임박 목동아델리체 전세 매물 20개뿐   782
...                     ...   ...                              ...   ...
54262   2021.06.30. 오전 4:02  매일경제          주택 타입 무려 44개…세종 안살아도 청약   808
54263   2021.06.30. 오전 4:02  매일경제         계양 테크노밸리 인근 직주근접 대단지 아파트   808
54264   2021.06.30. 오전 3:04  동아일보        전국 상위 20% 주택값 평균 11억 첫 돌파   808
54265   2021.06.30. 오전 2:28   뉴시스         30평이 3억대…베트남 아파트에 투자해 볼까   808
54266  2021.06.30. 오전 12:13  강원일보                 공공임대주택 1741세대 공급   808

[54267 rows x 4 columns]

In [10]:
from konlpy.tag import Mecab 
model = Mecab(dicpath=r"C:\mecab\mecab-ko-dic")

In [11]:
write_path = '../article/'

df = pd.DataFrame({
    'date' : total_df['date'],
    'co' : total_df['co'],
    'headline' : total_df['headline'],
    'week' : total_df['week'],
    'pos' : [model.nouns(headline) for headline in total_df['headline']]
})

In [20]:
keyword3 = pd.read_pickle('../article/headline_noun_keyword3.pkl')

In [ ]:
keyword3 = pd.concat([keyword3,df], ignore_index = True)

In [ ]:
keyword3.to_pickle('../article/headline_noun_keyword3.pkl')